@import './variables';
@import './formation';
@import './custom.scss';
@import './mixins';
//first page// 
section.formation {
   @include formation-style($brand-primary);
   
}
  
  //second page// 
  section.formations{
  @include formation-style($brand-blue);
    
  }
  section.advice h3{
   @include formation-style($brand-blue);
  }
  
section.advices {
   h3{
    padding-top: 30px;
    font-size: 30px;
    color: $brand-navyblue;
    padding-bottom: 10px;
  }
}
